<script type="text/html" id="pending-summary">
    {{#each summary}}
    <tr>
        <td>{{Name}}</td>
        <td class="td-count-summary">{{Count}}</td>
    </tr>
    {{/each}}
</script>

<script type="text/html" id="subscriber-credit">
    {{#each credit}}
    <tr>
        <td>{{ClaimNumber}}</td>
        <td>{{Book}}</td>
        <td>{{ClientComment}}</td>
        <td>{{InfoDescription}}</td>
    </tr>
    {{/each}}
</script>

<script type="text/html" id="subscriber-claim">
    {{#each claim}}
    <tr>
        <td>{{ClaimNumber}}</td>
        <td>{{Book}}</td>
        <td>{{ClaimDescription}}</td>
        <td>{{ClientComment}}</td>
        <td>{{CanvCode}}</td>
    </tr>
    {{/each}}
</script>