<script type="text/html" id="pending-summary">
    {{#each summary}}
    <tr>
        <td>{{Name}}</td>
        <td class="td-count-summary">{{Count}}</td>
    </tr>
    {{/each}}
</script>

<script type="text/html" id="pending-assignment-summary">
    {{#each summary}}
    <tr>
        <td>{{SalesDate}}</td>
        <td class="td-count-summary">{{Cantidad}}</td>
    </tr>
    {{/each}}
</script>