 <!--Large Bootstrap Modal-->
<!--===================================================-->
<div id="audit-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" id="myLargeModalLabel">Auditoria</h4>
            </div>
            <div class="modal-body" style="padding:0">
                <table class="table table-condensed" style="margin:0">
                    <tr>
                        <td>
                            <h5>Datos de la Transacción</h5>
                            <table class="table table-condensed table-striped table-bordered">
                                <tr>
                                    <th>Razón Social</th>
                                    <th>SubscrId</th>
                                    <th>Teléfono</th>
                                    <th>Canvass</th>
                                    <th>Book Code</th>
                                    <th>Control Verbal Call Id</th>
                                    <th>Auditor</th>
                                    <th>Ejecutivo</th>
                                    <th>AccountId</th>
                                </tr>
                                <tr>
                                    <td class="trn-razon"></td>
                                    <td class="trn-subscr"></td>
                                    <td class="trn-tell"></td>
                                    <td class="trn-canv"></td>
                                    <td class="trn-book"></td>
                                    <td class="trn-control"></td>
                                    <td class="trn-auditor"></td>
                                    <td class="trn-ejecutivo"></td>
                                    <td class="trn-account"></td>
                                </tr>
                                <tr>
                                    <th>Unidad</th>
                                    <th>Fecha RCP</th>
                                    <th>Cargo</th>
                                    <th>Venta</th>
                                    <th>Call Id</th>
                                    <th>Comentario del Ejecutivo</th>
                                    <th>PDC Dimmas</th>
                                    <th>Compañía</th>
                                    <th></th>                                    
                                </tr>
                                <tr>
                                    <td class="trn-unidad"></td>
                                    <td class="trn-fecha"></td>
                                    <td class="trn-cargo"></td>
                                    <td class="trn-venta"></td>
                                    <td class="trn-call-id"></td>
                                    <td class="trn-comentario"></td>
                                    <td class="trn-pdc"></td>
                                    <td class="trn-company"></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Datos Vitales</h5>
                            
                            <div class="form-inline" id="pregunta1">
                                <label> Se informa al cliente que la llamada está siendo grabada? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta1" class="magic-radio" id="si-pregunta1" value="1">
                                    <label for="si-pregunta1">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta1" class="magic-radio" id="no-pregunta1" value="0">
                                    <label for="no-pregunta1">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta2">
                                <label>Se identifica en la conversación el Nombre de la Empresa? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta2" class="magic-radio" id="si-pregunta2" value="1">
                                    <label for="si-pregunta2">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta2" class="magic-radio" id="no-pregunta2" value="0">
                                    <label for="no-pregunta2">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta3">
                                <label>PDC se identifica con Nombre Completo (Difiere o No)? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta3" class="magic-radio" id="si-pregunta3" value="1">
                                    <label for="si-pregunta3">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta3" class="magic-radio" id="no-pregunta3" value="0">
                                    <label for="no-pregunta3">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta4">
                                <label>PDC Indica Su Cargo o Posición en la Empresa? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta4" class="magic-radio" id="si-pregunta4" value="1">
                                    <label for="si-pregunta4">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta4" class="magic-radio" id="no-pregunta4" value="0">
                                    <label for="no-pregunta4">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta5">
                                <label>PDC confirma es la persona autorizada a negociar contratos de publicidad para su empresa? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta5" class="magic-radio" id="si-pregunta5" value="1">
                                    <label for="si-pregunta5">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta5" class="magic-radio" id="no-pregunta5" value="0">
                                    <label for="no-pregunta5">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta6">
                                <label>Vendedor detalla monto mensual? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta6" class="magic-radio" id="si-pregunta6" value="1">
                                    <label for="si-pregunta6">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta6" class="magic-radio" id="no-pregunta6" value="0">
                                    <label for="no-pregunta6">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta7">
                                <label>Vendedor especifica vigencia de la facturación? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta7" class="magic-radio" id="si-pregunta7" value="1">
                                    <label for="si-pregunta7">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta7" class="magic-radio" id="no-pregunta7" value="0">
                                    <label for="no-pregunta7">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta8">
                                <label>Vendedor especifica Directorio contratado? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta8" class="magic-radio" id="si-pregunta8" value="1">
                                    <label for="si-pregunta8">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta8" class="magic-radio" id="no-pregunta8" value="0">
                                    <label for="no-pregunta8">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta9">
                                <label>PDC Confirma estar de Acuerdo? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta9" class="magic-radio" id="si-pregunta9" value="1">
                                    <label for="si-pregunta9">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta9" class="magic-radio" id="no-pregunta9" value="0">
                                    <label for="no-pregunta9">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta10">
                                <label>Ejecutivo sigue el Orden del Script? </label>
                                <div class="checkbox">
                                    <input type="radio" name="pregunta10" class="magic-radio" id="si-pregunta10" value="1">
                                    <label for="si-pregunta10">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta10" class="magic-radio" id="no-pregunta10" value="0">
                                    <label for="no-pregunta10">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta11">
                                <label>Ejecutivo Omite/Cambia palabras del Script? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta11" class="magic-radio" id="si-pregunta11" value="1">
                                    <label for="si-pregunta11">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta11" class="magic-radio" id="no-pregunta11" value="0">
                                    <label for="no-pregunta11">NO</label>
                                </div>
                            </div>
                            <div class="form-inline" id="pregunta12">
                                <label>Vendedor describe los servicios contratados (Item, características, clasificado)? </label>
                                <div class="radio">
                                    <input type="radio" name="pregunta12" class="magic-radio" id="si-pregunta12" value="1">
                                    <label for="si-pregunta12">SI</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="pregunta12" class="magic-radio" id="no-pregunta12" value="0">
                                    <label for="no-pregunta12">NO</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Comentarios</h5>
                            <textarea id="comment-audit" placeholder="Message" rows="2" class="form-control" style="width:100%"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Otras Validaciones</h5>
                            <div class="form-inline">
                                <div class="checkbox">
                                    <input type="checkbox" class="magic-checkbox" id="descargo-administrativo">
                                    <label for="descargo-administrativo">Descargo Administrativo</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" class="magic-checkbox" id="descargo-re-auditoría">
                                    <label for="descargo-re-auditoría">Descargo Re-auditoría</label>
                                </div>
                            </div>                            
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-primary" id="guardar-auditoria" data-url="@Url.Action("Audit", "Auditory")">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--===================================================-->
<!--End Large Bootstrap Modal-->
