<div class="modal" id="claim-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Cliente con Reclamos</h4>
            </div>*@


            <!--Modal body-->
            <div class="modal-body">
                <table class="table" data-url="@Url.Action("GetClaims", "Subscriber")" id="claim-table">
                    <caption class="text-center"><h3>Cliente con Reclamos</h3></caption>
                    <thead>
                        <tr>
                            <th>No. Reclamo</th>
                            <th>Libro</th>
                            <th>Descripcion Reclamo</th>
                            <th>Comentario Cliente</th>
                            <th>Canv Code</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>